header{
    height: 5vh;
}
mat-icon{
    font-size: 2.5em;
    color: #fff;
    width: max-content;
    height: max-content;
}

.bg-teal{
    background-color: #20c997;
}
.h-100{
    height: 100%;
}

.cursor-pointer{
    cursor: pointer;
}
.menu-icon{
    font-size: 2em;
    color: #fff;
}
button{
    line-height: 100%;
}