.container{
    height: 100vh;
    width: 100vw;
}

.loginPanel{
    
    border-radius:10px;
    border: 1px solid gray;
    position: relative;
    
}

.regBtn{
    color:dodgerblue;
}
.regBtn:hover{
    color: rgb(18, 80, 143);
    text-decoration: underline;
}
.loginForm{
    padding: 3rem;
    padding-bottom: 0rem;
}
