<div class="d-flex justify-content-end">
  <button mat-button class="btn btn-danger" (click)="dialogRef.close(false)">
    X
  </button>
</div>
 

<div mat-dialog-content *ngIf="showCalc" class="modal-body">
  <div class="calculator">
    <div #screenContent class="screenContent mb-5"></div>
    <button *ngFor="let btn of buttons;let i =index" class={{btn.styles}} (click)="changeContent(btn.value)">{{btn.value}} <i class={{btn.icon}}></i></button>
</div>
<div class="d-flex justify-content-center"><div toastContainer></div></div>
</div>
<div mat-dialog-content *ngIf="showEditConfirm" class="modal-body">
  <div *ngIf="!isCorrectPassword">
    <div class="text-center fs-5 my-3" >{{ confirmMessage }}</div>
    <div >
      <input type="password" #password class="form-control my-3">
      <div [hidden]="editCategoryName!=='password'">
        <div>Please repeat your password</div>
        <input type="password" #passwords class="form-control my-3">
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-primary" [disabled]='!password.value' (click)="sendPassword(password.value)">Enter</button>
      </div>
    </div>
  </div>
  <div *ngIf="isCorrectPassword">
    <form  [formGroup]="editForm">
      <div class="text-center fs-5 my-3" >{{ tipMessage }}</div>
      <input type="text" formControlName="editField" class="form-control my-3">
      <div *ngIf="editForm.controls['editField'].invalid" class="alert alert-warning" role="alert">
        {{inputTips[editCategoryName]}}
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-primary" [disabled]='editForm.controls["editField"].invalid' (click)="editProfileField(editCategoryName,editForm.controls['editField'].value)">Enter</button>
      </div>
  </form>
  </div>
 
<div mat-dialog-content *ngIf="!showCalc&&!showEditConfirm" class="modal-body text-center fs-5">{{ confirmMessage }}</div>

