<div>
    <div>
      <div class="py-3">
        <select name="chartType" class="form-select" #chartType (change)='changeChartType(chartType.value)'>
          <option value="bar" selected >bar</option>
          <option value="line">line</option>
        </select>
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
